@page "/organizations"

@using DataLibrary
@using KalamazooTheater.Models
@using Microsoft.Extensions.Configuration
@inject IDataAccess _data
@inject IConfiguration _config

<h1>Organizations</h1>

<table class="uk-table uk-table-hover uk-table-small uk-table-divider uk-table-justify">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Website</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var o in organizations) {
        <tr>
            <td>@o.Organization_Id</td>
            <td>@o.Name</td>
            <td>@o.Website</td>
        </tr>
        }
    </tbody>
</table>

<a class="uk-button uk-button-default" @onclick="InsertData">Insert</a>

@code {
	List<OrganizationModel> organizations;

	private async Task InsertData()
	{
		string sql = "INSERT INTO organization (Name, Website) VALUES (@Name, @Website)";

		await _data.SaveData(sql, new { Name = "Name", Website = "Website" }, _config.GetConnectionString("Default"));
	}

	protected override async Task OnInitializedAsync()
	{
		string sql = "SELECT * FROM organization";

		organizations = await _data.LoadData<OrganizationModel, dynamic>(sql, new { }, _config.GetConnectionString("Default"));
	}
}
