@page "/organizations"

@using DataLibrary
@using KalamazooTheater.Models
@using Microsoft.Extensions.Configuration
@inject IDataAccess _data
@inject IConfiguration _config

<h3>Organizations</h3>

@if (organizations == null)
{
	<p><em>Loading...</em></p>
}
else
{
	@foreach (var o in organizations)
	{
		<p>@o.Name @o.Website</p>
	}
}

@code {
	List<OrganizationModel> organizations;

	protected override async Task OnInitializedAsync()
	{
		string sql = "SELECT * FROM organization";

		organizations = await _data.LoadData<OrganizationModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
	}
}
