@page "/admin/productions"

<h3>Productions</h3>

<label for="selectOrganization"></label>
<select name="selectOrganization">
	<option value="1">Queer Theatre Kalamazoo</option>
	<option value="2">Miller Auditorium</option>
</select>

@code {

}
