<AuthorizeView>
    <Authorized>
        <a class="uk-link-muted uk-padding-small" href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="uk-button uk-button-primary">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a class="uk-link-muted" href="Identity/Account/Register">Register</a>
        <a class="uk-button uk-button-primary" href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
