<div class="uk-card uk-card-default uk-card-body uk-height-1-1">
    <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
        <li class="uk-nav-header">Kalamazoo Theater</li>
        <li class="uk-active"><a href="/"><span class="uk-margin-small-right" uk-icon="icon: home"></span>Home</a></li>
        <li><a href="/organizations"><span class="uk-margin-small-right" uk-icon="icon: location"></span> Organizations</a></li>
        <li><a href="/counter"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Counter</a></li>
        <li><a href="/users"><span class="uk-margin-small-right" uk-icon="icon: cog"></span> Users</a></li>
        <li class="uk-nav-divider"></li>
        <li class="uk-parent">
            <a href="#">Parent</a>
            <ul class="uk-nav-sub">
                <li><a href="#">Sub item</a></li>
                <li><a href="#">Sub item</a></li>
            </ul>
        </li>
        <li class="uk-parent">
            <a href="#">Parent</a>
            <ul class="uk-nav-sub">
                <li><a href="#">Sub item</a></li>
                <li><a href="#">Sub item</a></li>
            </ul>
        </li>
        <li class="uk-position-bottom"><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
    </ul>
</div>

@code {

}
